
<div class="center_other">
    <image src="/<%= @artist.image %>" width="30%" height="30%" alt="アーティスト画像がありません"></image><br>
    <div class="margintop50px"></div>
    <%= @artist.artist_name %><br>
    <%= @artist.frequency_place %><br>
    <%= @artist.twitter_id %><br>
    <%= @artist.hp_url %><br>
    <%= @artist.message %><br>
</div>